# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
tutorialesOHW2024.Rproj

# Jupyter Notebook
.ipynb_checkpoints
miercoles/.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
#__pycache__

# Misc.
.DS_Store
miercoles/.DS_Store
